<h1><%= @user.username %>'s Shows Index</h1>

<ul>
    <li><%= link_to "Add a New Show", new_user_show_path(@user) %></li>
    <li><%= link_to "Your Reviews", reviews_path %></li>
</ul>

<ol>
    <% @user.shows.each do |show| %>
    
        <li><%= show.title %> - <%= show.genre %> - <%= show.reviews.first.rating %> - <%= show.reviews.first.comment %>
        <%= link_to "Edit This Show", edit_user_show_path(@user, show) %>
        </li>
        </br>
    <% end %>
</ol>

