<ul>
    <li><%= link_to "Add a New Show", new_user_show_path(@user) %></li>
    <li><%= link_to "Your Reviews", reviews_path %></li>
</ul>

<h1><%= @user.username %>'s Shows Index</h1>

<ol>
    <% @user.shows.each do |show| %>
    
        <li>
            <b>Title:</b> <%= show.title %> 
            <b>- Genre:</b> <%= show.genre %> 
            <b>- Rating:</b> <%= show.reviews.first.rating %> 
            <b>- Comment:</b> <%= show.reviews.first.comment %>
            <%= link_to "Edit This Show", edit_user_show_path(@user, show) %>
            <%= link_to 'Delete', user_show_path(@user, show), 
            method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
        </br>
    <% end %>
</ol>

