<h1>Welcome, <%= @user.username %>!</h1>

<p>Please select an option from the list.</p>

<ul>
    <li><%= link_to "Your Shows", user_shows_path(@user) %></li>
    <li><%= link_to "Add a New Show", new_user_show_path(@user) %></li>
    <li><%= link_to "Your Reviews", reviews_path %></li>
</ul>

<h2>Shows Data Base</h2>
<ul>
    <% @shows.each do |show| %>
        <li><%= show.title %> - <%= show.genre %></li>
        </br>
    <% end %>
</ul>
