<ul>
    <li><%= link_to "Your Reviews", reviews_path %></li>
</ul>

<h1><%= current_user.username %>' 5-Star Reviews</h1>

<ol>
    <% @reviews.five_stars.each do |review| %>
        <li>
            <b>Title:</b> <%= review.show.title %>
            <b> - Rating:</b> <%= review.rating %>
            <b> - Comment:</b> <%= review.comment %>
            <%= link_to "Edit This Review", 
            edit_review_path(review) %>
        </li>
        </br>
    <% end %>
</ol>

</br>
<h1>These Shows Have Not Been Rated</h1>

<ol>
    <% @reviews.not_rated.each do |review| %>
        <li>
            <b>Title:</b> <%= review.show.title %>
            <b> - Rating:</b> <%= review.rating %>
            <b> - Comment:</b> <%= review.comment %>
            <%= link_to "Edit This Review", 
            edit_review_path(review) %>
        </li>
        </br>
    <% end %>
</ol>