<ul>
    <li><%= link_to "Your Shows", user_shows_path(@user) %></li>
    <li><%= link_to "Your Reviews", reviews_path %></li>
</ul>

<button id="js-show">Show Review</button>
<div id="js-show-review"></div>


<h1>Title: <%= @show.title %></h1>
<h3>Genre: <%= @show.genre %></h3> 
<h3>Rating: <%= @show.reviews.first.rating %></h3>
<h3>Comment: <%= @show.reviews.first.comment %></h3>

<%= button_tag 'Next', id: 'js-next', data: {id: @review.id} %>